name: Test

on:
  pull_request:
  push:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - name: Setup Go
      uses: actions/setup-go@v6
      with:
        go-version: 1.25
    - name: Lint
      uses: golangci/golangci-lint-action@v9
      with:
        version: v2.6
    - name: Test
      run: go test -coverprofile coverage.out -covermode atomic ./...
